@model List<TbLibro>

<h1>Detalle de Libro</h1>

<table class="table table-borderless">

    <thead>
        <tr>
            <th>ID Curso</th>
            <th>Descripcion</th>
            <th>Asignatura</th>
            <th>Stock</th>
        </tr>
    </thead>
    @foreach (var tbLibro in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(i => tbLibro.IdLibro)</td>

                <td>@Html.DisplayFor(i => tbLibro.Descripcion)</td>

                <td>@Html.DisplayFor(i => tbLibro.IdAsing)</td>

                <td>@Html.DisplayFor(i => tbLibro.Stock)</td>
            </tr>

        </tbody>
    }

</table>

<p >
    <a asp-action="ListarLibros" class="btn btn-primary"> Volver a la Lista</a>
</p>


