@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3> Practica PreProfesional de ASP.NET</h3>
    <br />
    <a class="btn btn-danger text-white" asp-controller="Asignatura" asp-action="ListarAsignatura">Listar Asignaturas</a>
    <p>|</p> 
    <a class="btn btn-info text-white" asp-controller="Libro" asp-action="ListarLibros">Listar Libros</a>
</div>
